# Difference between python and numpy

In [1]:
import numpy as np

In [2]:
my_list = [1, 2, 3, 4, 5]
my_list * 6

[1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5]

In [3]:
my_numpy_arr = np.array(my_list)
my_numpy_arr * 6

array([ 6, 12, 18, 24, 30])

# Create Numpy array

## arange

In [4]:
np.arange(7)

array([0, 1, 2, 3, 4, 5, 6])

In [5]:
np.arange(10, 23) - 10 + 1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [6]:
np.arange(10, 23).size

13

In [7]:
np.arange(10, 26, 5)

array([10, 15, 20, 25])

In [8]:
np.arange(26, step=5)

array([ 0,  5, 10, 15, 20, 25])

## linspace

In [9]:
np.linspace(5, 7, 9)

array([ 5.  ,  5.25,  5.5 ,  5.75,  6.  ,  6.25,  6.5 ,  6.75,  7.  ])

In [10]:
np.linspace(5, 7, 9, retstep=True)

(array([ 5.  ,  5.25,  5.5 ,  5.75,  6.  ,  6.25,  6.5 ,  6.75,  7.  ]), 0.25)

## zeros

In [11]:
np.zeros(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [12]:
np.zeros((5, 4))

array([[ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.]])

In [13]:
np.zeros(11, dtype="int64")

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

## ones

In [14]:
np.ones(5)

array([ 1.,  1.,  1.,  1.,  1.])

In [15]:
np.ones((5,4,3))

array([[[ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.]]])

# Index, slice, iterate

## Single element

In [16]:
my_vector = np.array([1, 4, 2, 103, 111, 302])

In [17]:
my_vector[0]

1

In [18]:
my_vector[-3]

103

In [19]:
my_vector[305 % my_vector.size]

302

In [20]:
my_vector[0] = 100
my_vector

array([100,   4,   2, 103, 111, 302])

## Two dimensional array

In [21]:
my_array = np.arange(35)
my_array.shape = (7, 5)
my_array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34]])

In [22]:
my_array[2]

array([10, 11, 12, 13, 14])

In [23]:
my_array[-2]

array([25, 26, 27, 28, 29])

In [24]:
row = 2
column = 3
my_array[row, column]

13

## Three dimensional array

In [25]:
my_3D_array = np.arange(70)
my_3D_array.shape = (2, 7, 5)
my_3D_array

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34]],

       [[35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69]]])

In [26]:
my_3D_array[1]

array([[35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64],
       [65, 66, 67, 68, 69]])

In [27]:
my_3D_array[1,3]

array([50, 51, 52, 53, 54])

In [28]:
my_3D_array[1,3,2]

52