In [1]:
# import libraries
from pyspark.sql import SparkSession

# view process
print "http://localhost:4040/jobs/"

http://localhost:4040/jobs/

In [2]:
spark = SparkSession.builder \
            .master("local[*]") \
            .appName("Advanced SQL") \
            .getOrCreate()

In [10]:
# load data
df_cars = spark.read \
         .format("csv") \
         .option("header", "true") \
         .load("cars.csv")
            
df_makers = spark.read \
         .format("csv") \
         .option("header", "true") \
         .load("makers.csv")        
            
# store as table
sqlContext.registerDataFrameAsTable(df_cars, "car")
sqlContext.registerDataFrameAsTable(df_makers, "maker")

In [11]:
# view schema and top data
print "Cars schema"
df_cars.printSchema()
df_cars.show(5)

print "Makers schema"
df_makers.printSchema()
df_makers.show(5)

Cars schema
root
 |-- id: string (nullable = true)
 |-- car_name: string (nullable = true)
 |-- price: string (nullable = true)
 |-- maker_id: string (nullable = true)

+---+------------+-------+--------+
| id|    car_name|  price|maker_id|
+---+------------+-------+--------+
|  1|          X5|5616.38|       2|
|  2|     Compass| 1837.4|       7|
|  3|   Excursion|1949.55|       2|
|  4|    Escalade|8539.64|       3|
|  5|Express 3500|2685.09|       4|
+---+------------+-------+--------+
only showing top 5 rows

Makers schema
root
 |-- id: string (nullable = true)
 |-- maker_name: string (nullable = true)
 |-- years: string (nullable = true)

+---+----------+-----+
| id|maker_name|years|
+---+----------+-----+
|  1|   Porsche| 2011|
|  2|    Nissan| 2011|
|  3|     Dodge| 2008|
|  4|  Cadillac| 2006|
|  5|Land Rover| 2011|
+---+----------+-----+
only showing top 5 rows

# Truy vấn lồng
Truy vấn lồng là một câu truy vấn mà ở bên trong nội dung của nó có chứa một câu truy vấn con khác.
- Truy vấn lồng phân cấp: Khi nội dung của câu truy vấn con độc lập với câu truy vấn cha.
- Truy vấn lồng tương quan: Khi nội dung của câu truy vấn con phụ thuộc vào câu truy vấn cha.

## Đặt tại mệnh đề SELECT
Kết quả của câu truy vấn sẽ như là một giá trị của một thuộc tính.

In [14]:
# Với mỗi hãng xe, cho biết tên của hãng và số lượng xe tương ứng
df_sub_queries = sqlContext.sql("""
    SELECT maker_name AS Hang_Xe, (
        SELECT COUNT(*)
        FROM car
        WHERE car.maker_id = maker.id
    ) AS SL_XE
    FROM maker
""")
df_sub_queries.show()

+----------+-----+
|   Hang_Xe|SL_XE|
+----------+-----+
|   Porsche|   91|
|    Nissan|  116|
|     Dodge|   98|
|  Cadillac|  104|
|Land Rover|   82|
|     Mazda|  101|
|     Isuzu|  100|
|   Hyundai|  109|
|   Hyundai|   96|
| Chevrolet|  103|
+----------+-----+

## Đặt tại mệnh đề FROM:
Kết quả của câu truy vấn sẽ xem như là một bảng dữ liệu, do vậy có thể truy vấn từ bảng dữ liệu này.

In [ ]:
# Cho biết tên và giá của mẫu xe